* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.map-wrapper {
  display: flex;
}
.store-list-wrapper {
  min-width: 300px;
  background-color: rgb(247, 247, 247);
}
#map {
  height: 100vh;
  flex: 1;
}

.list-header {
  background: #007bff;
  color: white;
  text-align: center;
  padding: 20px;
}

.store-list-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.store-list-wrapper ul li {
  list-style: none;
  margin: 0px;
  padding: 20px;
  border-bottom: 1px solid #d3d3d3;
}
